.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box;
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;
}


.btn:hover, .btn:focus, .btn:focus-within, .btn:active {
  transition: filter 250ms, color 200ms;
}

.btn--primary {
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));
}

.btn--primary:hover,
.btn--primary:focus,
.btn--primary:focus-within,
.btn--primary:active {
  color: var(--color-white);
  filter: saturate(1.4) brightness(115%);
}

.btn--secondary {
    color: var(--color-white);
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));
}

.btn--secondary:hover,
.btn--secondary:focus,
.btn--secondary:focus-within,
.btn--secondary:active,
.btn--secondary:color {
  color: var(--color-white);
  filter: saturate(1.2) brightness(110%);
}

.btn--light {
  color: var(--color-dark);
  background-color: var(--color-light);
}


.btn--light:hover,
.btn--light:focus,
.btn--light:focus-within,
.btn--light:active {
  color: var(--color-dark);
  filter: brightness(92%);
}

.btn--dark {
  color: var(--color-white);
  border-color: var(--color-dark);
  background-color: var(--color-dark);
}

.btn--dark:hover,
.btn--dark:focus,
.btn--dark:focus-within,
.btn--dart:active {
  color: var(--color-white);
}
