.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

.form__group {
  flex: 1;
}

.form__input {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: var(--space-xxs) var(--space-xs);
  border: var(--border);
  border-radius: var(--border-radius);
  outline: none;
  transition: box-shadow 250ms;
}

.form__input:focus {
  box-shadow: 0 0 0 2px var(--color-glint);
}

.form__input--invalid {
  border-color: var(--color-primary);
}
